@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width as desired */
}

::-webkit-scrollbar-thumb {
  background-color: #eab308; /* Change the scrollbar thumb color */
  border-radius: 50px;
}

.tippy-box[data-theme~="primary"] {
  background-color: beige;
  color: dimgray;
  background: beige;
  border: 1px solid beige;
  fill: beige;
}

.tippy-box[data-theme~="primary"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: beige;
}
.tippy-box[data-theme~="primary"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: beige;
}
.tippy-box[data-theme~="primary"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: beige;
}
.tippy-box[data-theme~="primary"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: beige;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.glassIco {
  --width: 100px;
  border-radius: 9999px;
  box-sizing: border-box;
  transition: 200ms;
  /* width: var(--width);
  height: var(--width); */
  color: #fff;
  font-size: 30px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  margin: 20px;
  overflow: hidden;
}

.glassIco:before {
  content: "";
  /* position: absolute; */
  display: block;
  /* width: 50%;
  height: 100%; */
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(0px);
  transition: 400ms;
  transform: skewX(45deg) translateX(calc(var(--width) + 50%));
}

.glassIco:hover {
  transform: translateY(-20px);
}

.glassIco:hover:before {
  transform: skewX(45deg) translateX(calc(var(--width) * -1 - 50%));
}

.glassIco > * {
  opacity: 0.8;
}

/* Enter animation */
@keyframes toast-enter {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Exit animation */
@keyframes toast-exit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* Apply enter and exit animation */
.animate-enter {
  animation-name: toast-enter;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.animate-exit {
  animation-name: toast-exit;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  /* margin-left: 16px;
  margin-right: 16px; */
  line-height: 20px;
  font-size: 12px;
  font-weight: 100;
  color: #fff;
  opacity: 1;
  background-color: rgba(113, 63, 18, 0.2);
  flex: auto;
}

.swiper-pagination-bullet-active {
  font-weight: 600;
  color: #fff;
  background-color: #eab308;
}

/* .scrolling-text {
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-text div {
  display: inline-block;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} */
